name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_call:

concurrency:
  group: ci-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 20 # Maintenance LTS
          - 22 # Maintenance LTS
          - 24 # Active LTS
          - 25 # Current
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
      - run: yarn install --immutable
      - run: yarn compile
      - run: yarn lint
      - run: yarn test
